body {

	background: url("images/cuttingboard.jpg");
	background-repeat: no-repeat;
	height: 100vh;
	background-color: #e3e3e3;

}


.asteriskField {
    display: none;
}

/*
[class*="col"] {

	padding: 1rem;
	background-color: teal;
	border:  2px solid white;
	color: white;

}
*/

#image_row {

	background-color: #e3e3e3;
}